.bodyContainer {    
  width: 100% !important;
  background: grey;
  
}
.navbarContainer {
  width: 100%;
  margin: auto auto;
}
.contentContainer {
  width: 80%;
  background: white;
  margin: 80px auto;
  padding: 20px 30px;
  border-radius: 8px;
}

